.header {
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  @media (max-width: 600px) {
    height: 50px;
    overflow: hidden;

    &.is-open {
      height: auto;
    }
  }
}

.header-h1 {
  font-size: 22px;
  margin: 10px 0 0 0;
  text-align: center;
}

.header-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;

  @media (max-width: 480px) {
    flex-direction: column;
  }
}
